<template>
  <div>
    <v-img :aspect-ratio="4 / 3" :src="url" @click.stop="dialog = true"></v-img>

    <v-dialog
      v-model="dialog"
      width="800px"
      :fullscreen="$vuetify.breakpoint.smAndDown"
    >
      <v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="dialog = false">
            <v-icon right>clear</v-icon>
          </v-btn>
        </v-card-actions>

        <v-img :src="url"></v-img>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dialog: false
    }
  }
}
</script>

<style lang="stylus" scoped></style>
