@font-face {
  font-family: 'myriad-regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/myriad-regular.woff');
}

@font-face {
  font-family: 'myriad-light';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/myriad-light.woff');
}

@font-face {
  font-family: 'myriad-bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/myriad-bold.woff');
}

$black-1 = #000000;
$white-1 = #ffffff;
$blue-1 = #050b28;
$blue-2 = #3b4783;

h1, h2, h3 {
  font-family: 'myriad-bold';
}

p {
  font-family: 'myriad-regular';
}

hr {
  height: 1px;
  background-color: #3b4783;
  border: none;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.no-decoration {
  text-decoration: none;
}

.custom-button {
  border: 1px solid #050b28;
  border-radius: 3px;
  display: inline-block;
  width: 3rem;
  margin: 0rem 0.5rem;
  text-align: center;
  padding: 3px 3px 2px;
  font-family: 'myriad-regular';
}
