<template>
  <div class="header">
    <v-img
      :aspect-ratio="16 / 5"
      gradient="90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%"
      src="https://res.cloudinary.com/acquati/image/upload/v1564086502/pop-bauru/header-background_xeykji.jpg"
      class="white--text pa-4"
    >
      <v-layout justify-space-between>
        <nuxt-link to="/">
          <img
            class="pop-bauru"
            src="https://res.cloudinary.com/acquati/image/upload/v1564151547/pop-bauru/logo-pop-bauru_ufsphg.png"
            alt="Logo Pop Bauru"
          />
        </nuxt-link>
        <v-flex xs7>
          <v-text-field
            v-model="searchText"
            solo
            label="Pesquisar Eventos"
            @keyup.enter="clearButton"
          >
            <template slot="append">
              <v-icon @click="clearButton">search</v-icon>
            </template>
          </v-text-field>
        </v-flex>
      </v-layout>
      <v-layout justify-center align-center column>
        <p class="mb-0 mt-5">
          <v-icon color="white" class="mr-1">
            far fa-calendar-alt
          </v-icon>
          19/07/2019
        </p>
        <h1 class="display-1 font-weight-bold mt-3 mb-3">
          Título do Evento Selecionado
        </h1>
        <v-btn small color="white" class="ma-1 primary--text">
          Compartilhar Álbum
          <v-icon>share</v-icon>
        </v-btn>
      </v-layout>
      <v-layout justify-center mt-5>
        <p class="mb-0">Home ></p>
        <p class="mb-0" style="text-decoration: underline;">
          Título do evento selecionado vai ficar aqui
        </p>
      </v-layout>
    </v-img>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchText: ''
    }
  },
  methods: {
    clearButton() {
      this.searchText = ''
    }
  }
}
</script>

<style lang="stylus" scoped>
.header {
  // background-image: url("https://res.cloudinary.com/acquati/image/upload/v1564086502/pop-bauru/header-background_xeykji.jpg");
  // background-size: cover;
  // background-position: center;

  .pop-bauru {
    display: block;
    height: 50px;
  }
}
</style>
