<template>
  <div class="gallery">
    <v-container pb-0>
      <p class="mb-3 text-xs-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </v-container>

    <v-window v-model="onboarding">
      <v-window-item v-for="n in length" :key="`card-${n}`">
        <v-container grid-list-md text-center class="pt-2">
          <v-layout wrap>
            <v-flex v-for="i in imageCount" :key="i" xs12 sm6 md4 lg3>
              <ImageModal :url="imageUrls[i]" />
            </v-flex>
          </v-layout>
        </v-container>
      </v-window-item>
    </v-window>

    <v-container grid-list-md text-center>
      <v-card-actions class="justify-center pa-0">
        <v-btn icon large color="text--primary" @click="prev">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>

        <v-item-group v-model="onboarding" class="text-center" mandatory>
          <v-item
            v-for="n in length"
            :key="`btn-${n}`"
            v-slot:default="{ active, toggle }"
          >
            <!-- <v-btn color="primary" :input-value="active" @click="toggle">
              {{ n }}
            </v-btn> -->
            <div
              v-ripple="{ center: true }"
              class="custom-button"
              :input-value="active"
              @click="toggle"
            >
              {{ n }}
            </div>
          </v-item>
        </v-item-group>

        <v-btn icon large color="text--primary" @click="next">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-card-actions>
    </v-container>
  </div>
</template>

<script>
import ImageModal from '~/components/ImageModal.vue'

export default {
  components: {
    ImageModal
  },
  data() {
    return {
      length: 3,
      onboarding: 0,
      imageUrls: [
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg'
      ]
    }
  },
  computed: {
    imageCount() {
      let count = 0
      if (this.$vuetify.breakpoint.xsOnly) count = 10
      if (this.$vuetify.breakpoint.smOnly) count = 10
      if (this.$vuetify.breakpoint.mdOnly) count = 15
      if (this.$vuetify.breakpoint.lgOnly) count = 20
      if (this.$vuetify.breakpoint.xlOnly) count = 20
      return count
    }
  },
  methods: {
    next() {
      this.onboarding =
        this.onboarding + 1 === this.length ? 0 : this.onboarding + 1
    },
    prev() {
      this.onboarding =
        this.onboarding - 1 < 0 ? this.length - 1 : this.onboarding - 1
    }
  }
}
</script>

<style lang="stylus" scoped>
.gallery {}
</style>
