<template>
  <div class="footer white--text">
    <v-container grid-list-xl class="footer-info">
      <v-layout wrap justify-space-between>
        <v-flex xs12 md4>
          <img
            class="pop-bauru"
            src="https://res.cloudinary.com/acquati/image/upload/v1564151547/pop-bauru/logo-pop-bauru_ufsphg.png"
            alt="Logo Pop Bauru"
          />
          <img
            class="jornal-da-cidade"
            src="https://res.cloudinary.com/acquati/image/upload/v1564152170/pop-bauru/logo-jornal-da-cidade-branco_se8csj.png"
            alt="Logo Jornal da Cidade"
          />
          <p>
            POP Bauru, Startup do Jornal da Cidade, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </p>
        </v-flex>
        <v-flex xs12 md4>
          <h3 class="mb-3">
            MAIS POPULARES
          </h3>
          <h3>
            Título do álbum popular 1
          </h3>
          <p class="mt-0">
            <v-icon color="white" class="mr-1">far fa-calendar-alt</v-icon>
            19/07/2019
          </p>
          <hr />
          <h3 class="mt-4">
            Título do álbum popular 2
          </h3>
          <p class="mt-0">
            <v-icon color="white" class="mr-1">far fa-calendar-alt</v-icon>
            02/07/2019
          </p>
        </v-flex>
        <v-flex xs12 md4>
          <h3 class="mb-3">
            CONTATO
          </h3>
          <p class="mt-0">
            <v-icon color="white" class="mr-1">far fa-envelope</v-icon>
            emailpopbauru@popbauru.com.br
          </p>
          <h3 class="mb-3">
            NOSSAS REDES
          </h3>
          <h3 class="mt-0 font-weight-regular">
            <v-icon color="white" class="mr-1">fab fa-facebook-square</v-icon>
            <v-icon color="white" class="mr-1">fab fa-instagram</v-icon>
            <v-icon color="white" class="mr-1">fab fa-twitter</v-icon>
          </h3>
        </v-flex>
      </v-layout>
    </v-container>
    <v-layout class="copyright" justify-content-center>
      <v-flex xs12>
        <hr />
        <p>© COPYRIGHT 2019 - Jornal da Cidade</p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.footer {
  background-color: #050b28;

  hr {
    height: 1px;
    background-color: #3b4783;
    border: none;
  }

  .container {
    padding: 4rem 2rem;
  }

  .footer-info {
    p {
      margin-top: 1rem;
    }

    img {
      display: block;
    }

    .pop-bauru {
      height: 70px;
    }

    .jornal-da-cidade {
      margin-top: 1rem;
      height: 40px;
    }
  }

  .copyright {
    p {
      margin: 2rem auto;
      text-align: center;
    }
  }
}
</style>
