<template>
  <div class="gallery">
    <v-container pb-0 pt-5 class="spotlight">
      <v-flex xs12>
        <nuxt-link to="/event" class="no-decoration">
          <v-img
            :aspect-ratio="spotlightAspectRatio"
            gradient="90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%"
            src="https://res.cloudinary.com/acquati/image/upload/v1564086502/pop-bauru/header-background_xeykji.jpg"
          >
            <v-layout pa-2 column fill-height class="lightbox white--text">
              <v-spacer></v-spacer>
              <v-flex shrink>
                <div class="title text-truncate">
                  Título do evento em destaque
                </div>
                <div class="body-1 text-truncate pt-1">
                  <v-icon color="white" class="mr-1">
                    far fa-calendar-alt
                  </v-icon>
                  19/07/2019
                  <v-btn small color="white" class="ma-1 primary--text">
                    Compartilhar
                    <v-icon>share</v-icon>
                  </v-btn>
                </div>
              </v-flex>
            </v-layout>
          </v-img>
        </nuxt-link>
      </v-flex>
    </v-container>

    <v-window v-model="onboarding">
      <v-window-item v-for="n in length" :key="`card-${n}`">
        <v-container grid-list-md text-center class="pt-2">
          <v-layout wrap>
            <v-flex v-for="i in imageCount" :key="i" xs12 sm6 lg4>
              <nuxt-link to="/event" class="no-decoration">
                <v-img
                  :aspect-ratio="4 / 3"
                  :src="imageUrls[i]"
                  gradient="0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 35%"
                >
                  <v-layout
                    column
                    fill-height
                    class="lightbox white--text pb-0 pl-2"
                  >
                    <v-spacer></v-spacer>
                    <v-flex shrink>
                      <div class="title text-truncate">
                        Título do evento
                      </div>
                      <div class="body-1 text-truncate pt-1">
                        <v-icon color="white" class="mr-1">
                          far fa-calendar-alt
                        </v-icon>
                        19/07/2019
                        <v-btn
                          icon
                          small
                          color="white"
                          class="ma-1 primary--text"
                        >
                          <v-icon>share</v-icon>
                        </v-btn>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-img>
              </nuxt-link>
            </v-flex>
          </v-layout>
        </v-container>
      </v-window-item>
    </v-window>

    <v-container grid-list-md text-center>
      <v-card-actions class="justify-center pa-0">
        <v-btn icon large color="text--primary" @click="prev">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>

        <v-item-group v-model="onboarding" class="text-center" mandatory>
          <v-item
            v-for="n in length"
            :key="`btn-${n}`"
            v-slot:default="{ active, toggle }"
          >
            <!-- <v-btn color="primary" :input-value="active" @click="toggle">
              {{ n }}
            </v-btn> -->
            <div
              v-ripple="{ center: true }"
              class="custom-button"
              :input-value="active"
              @click="toggle"
            >
              {{ n }}
            </div>
          </v-item>
        </v-item-group>

        <v-btn icon large color="text--primary" @click="next">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-card-actions>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      length: 3,
      onboarding: 0,
      imageUrls: [
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086418/pop-bauru/gallery-image-2_btivq4.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-5_vipriu.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086422/pop-bauru/gallery-image-4_oogsog.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086419/pop-bauru/gallery-image-1_n7zwln.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086417/pop-bauru/gallery-image-3_okolo7.jpg',
        'https://res.cloudinary.com/acquati/image/upload/v1564086431/pop-bauru/gallery-image-6_flkhbu.jpg'
      ]
    }
  },
  computed: {
    imageCount() {
      let count
      if (this.$vuetify.breakpoint.xsOnly) count = 10
      if (this.$vuetify.breakpoint.smOnly) count = 10
      if (this.$vuetify.breakpoint.mdOnly) count = 15
      if (this.$vuetify.breakpoint.lgOnly) count = 15
      if (this.$vuetify.breakpoint.xlOnly) count = 15
      return count
    },
    spotlightAspectRatio() {
      let aspectRatio
      if (this.$vuetify.breakpoint.xsOnly) aspectRatio = 4 / 3
      if (this.$vuetify.breakpoint.smAndUp) aspectRatio = 16 / 7
      return aspectRatio
    }
  },
  methods: {
    next() {
      this.onboarding =
        this.onboarding + 1 === this.length ? 0 : this.onboarding + 1
    },
    prev() {
      this.onboarding =
        this.onboarding - 1 < 0 ? this.length - 1 : this.onboarding - 1
    }
  }
}
</script>

<style lang="stylus" scoped>
.gallery {
  .spotlight {
    @media (max-width: 959px) {
      padding-top: 16px !important;
    }
  }
}
</style>
