<template>
  <div class="header white--text">
    <v-layout justify-center align-center wrap>
      <v-flex xs10>
        <img
          class="pop-bauru"
          src="https://res.cloudinary.com/acquati/image/upload/v1564151547/pop-bauru/logo-pop-bauru_ufsphg.png"
          alt="Logo POP Bauru"
        />
      </v-flex>
      <v-flex xs10 md6>
        <v-text-field
          v-model="searchText"
          solo
          label="Pesquisar Eventos"
          @keyup.enter="clearButton"
        >
          <template slot="append">
            <v-icon @click="clearButton">search</v-icon>
          </template>
        </v-text-field>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchText: ''
    }
  },
  methods: {
    clearButton() {
      this.searchText = ''
    }
  }
}
</script>

<style lang="stylus" scoped>
.header {
  background-color: #050b28;
  padding: 3rem 0rem 2rem;

  img {
    display: block;
    height: 10rem;
    margin: 0rem auto 3rem;

    @media screen and (max-width: 959px) {
      height: 6rem;
    }
  }
}
</style>
