<template>
  <v-container fluid>
    <EventHeader />
    <EventGallery />
    <Footer />
  </v-container>
</template>

<script>
import EventHeader from '~/layouts/partials/EventHeader.vue'
import EventGallery from '~/layouts/partials/EventGallery.vue'
import Footer from '~/layouts/partials/Footer.vue'

export default {
  components: {
    EventHeader,
    EventGallery,
    Footer
  }
}
</script>

<style lang="stylus" scoped>
.container {
  padding: 0px;
}
</style>
