<template>
  <v-container fluid>
    <HomeHeader />
    <HomeGallery />
    <Footer />
  </v-container>
</template>

<script>
import HomeHeader from '~/layouts/partials/HomeHeader.vue'
import HomeGallery from '~/layouts/partials/HomeGallery.vue'
import Footer from '~/layouts/partials/Footer.vue'

export default {
  components: {
    HomeHeader,
    HomeGallery,
    Footer
  }
}
</script>

<style lang="stylus" scoped>
.container {
  padding: 0px;
}
</style>
